* {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caja-pokemon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.name-pokemon {
  position: absolute;
  right: 100%;
  top: 50%;
  font-size: 25px;
}

.contenedor-pokemon {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.img-pokemon-silueta {
  width: 350px;
  image-rendering: pixelated;
  filter: brightness(0);
  object-fit: contain;
  position: absolute;
}

.img-pokemon {
  width: 400px;
  image-rendering: pixelated;
}

.nes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 20px;
  padding: 15px;
}

.nes-progress {
  width: 380px;
  height: 32px;
}

.nes-btn {
  width: 200px;
}

.caja-input {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.nes-field {
  width: 653px;
  margin-right: 20px;
}

.button {
  width: 450px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.contador-errores {
  display: flex;
  padding: 10px 0;
  width: 80%;
  justify-content: space-evenly;
  gap: 20px;
}

.progress {
  width: 500px;
}

.caja-errores {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 50%;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.nes-dialog {
  position: fixed;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

@media (max-width: 1365px) {
  .caja-input {
    flex-direction: column;
    gap: 10px;
  }

  .nes-field {
    width: 90%;
  }

  .name-pokemon {
    top: 280px;
    right: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contador-errores {
    flex-direction: column;
    width: 100%;
  }

  .progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nes-progress {
    width: 80%;
  }

  .button {
    width: 100%;
  }

  .nes-btn {
    width: 100%;
    font-size: 2vw;
  }

  .caja-errores {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
