#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caja-pokemon {
  display: flex;
  justify-content: center;
}

.contenedor-pokemon {
  width: 400px;
  height: 400px;
}

.img-pokemon-silueta {
  width: 400px;
  image-rendering: pixelated;
  filter: brightness(0);
  object-fit: cover;
}

.img-pokemon {
  width: 400px;
  image-rendering: pixelated;
}

.nes-container {
  width: 80%;
}

.caja-input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nes-field {
  width: 50%;
  margin-right: 20px;
}
